*{
    margin: 0%;
    padding: 0%;
}
#container{
    display: grid;
    min-width: 100%;
    min-height: 100vh;
    grid-template-areas: "cabeca cabeca cabeca"
                        "meio meio meio"
                        "fim fim fim";
}
.cabeca{
    grid-area: cabeca;
    height: 90px;
    font-family: 'Roboto', sans-serif;
}
.meio{
    grid-area: meio;
    min-height: 70vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Rubik', sans-serif;
}
.rodape{
    grid-area: fim;
    font-family: 'Rubik', sans-serif;
}


/* Edição da Cabeca*/
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:  #020530;
    margin-top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 5px 10px #1c1c1c;
}
#logo{
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
    opacity: 0.9;
}
input, #menu_op{
    display: none ;
}
label{
    display: none;
    width: 100%;
}
ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.active{
    border-bottom: 4px solid #25d1fe;
    padding-bottom: 10px;
}
#menu ul .li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #25d1fe;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all .5s;
}
#menu ul .li:hover:after{
    width: 100%;
}

/*Edição do meio*/

.sec1, .sec2, .sec3{
    margin-top: 50px;
}
.meio p{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
}
.sec1 p span, .sec2 p span, .sec3 p span{
    color: #993399;
    text-shadow: 0px 1px 10px #993399;
}

.meio .imagem img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.meio h2 span{
    color: #993399;
}

.meio .sec2{
    display: grid;
    grid-template-areas: "divH2 divH2"
                         "divP divImg"
                         "divP divImg";
    align-items: center;
}

.meio h2{
    grid-area: divH2;
    font-size: 30px;
}
.divP{
    grid-area: divP;
    margin-right: 20px;
}
.divImg{
    grid-area: divImg;
}
.divImg img{
    width: 500px;
    margin-left: 20px;
    display: flex;
    /* margin-top: 50px; */
}
.divImg small{
    margin-left: 40px;
}

.meio .sec3{
    display: grid;
    grid-template-areas: "divH2 divH2"
                         "secImg secP"
                         "secImg secP";
    align-items: center;
    margin-bottom: 50px;
}

.secP{
    grid-area: secP;
    margin-left: 20px;
}
.secP ol{
    margin-left: 30px;
}
.secImg{
    grid-area: secImg;
}
.secImg img{
    width: 500px;
    margin-right: 20px;
    display: flex;
}

/*Editando rodape*/

.rodape{
    width: 97.4%;
    background-color: #410d41;
    color: #fff;
    padding: 20px;
}

.textRodape{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: "logo ul h3"
                          "logo ul h3";
    justify-content: space-around;
}

.logoRodape{
    grid-area: logo;
}
.ul{
    grid-area: ul;
}
.h3{
    grid-area: h3;
}

.logoRodape img{
    height: 70px;
    margin-bottom: 30px;
}

.rodape .ul p{
    margin-bottom: 5px;
}

.rodape .ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.rodape .ul a:hover{
    color: #a5ddeb;
    text-shadow: 1px 1px 4px #fff;
}

#fim{
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    width: 90%;
}

@media (min-width: 300px) and (max-width:880px){
    .titulo{
        height: 60px;
        display: flex;
    }
    #logo{
        height: 35px;
        margin-left: 80px;
    }
    input{
        visibility: hidden;
     }
     #menu_op{
         display: block;
     }
     label{
         display: block;
         margin-left: 40px;
     }
     label img{
        padding-left: 20px;
        width: 35px;
        float: right;
        margin-right: 50px;
    }
     nav{
         background-color: rgba(0,0,0,0.9);
         width: 80%;
         height: 220px;
         border-radius: 10px;
     }
     #menu_op:checked ~ #menu{
         margin-right: 0;
         transition: all 0.5s;
     }
     #menu{
         top: 85px;
         position: absolute;
         z-index: 99;
         right: 0;
         margin-right: -120%;
         box-shadow: 0px 5px 3px #1c1c11;
     }
     #menu ul li{
         display: flex;
         flex-direction: column;
         margin-top: 20px;
         height: 30px;
         text-align: center;
     }
     .explore{
        display: block;
    }
     #menu ul .explore::after{
        content: '';
        height: 50px;
        width: 0;
        background: #993399;
        opacity: 0.4;
        border-radius: 20px;
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: -111;
        transition: all .5s;
    }
    #menu ul .explore:hover:after{
        width: 80%;
        margin-left: 10%;
    }

    /*Meio responsivo*/
    .meio{
        width: 90%;
        margin-left: 5%;
    }
    .meio .imagem img{
        width: 100%;
        margin-left: 0;
    }
    .meio .sec2{
        grid-template-areas: "divH2 divH2"
                         "divP divP"
                         "divImg divImg";
    }
    .meio .sec3{
        grid-template-areas: "divH2 divH2"
                            "secP secP"
                            "secImg secImg";
    }
    .sec2 h2, .sec3 h2{
        width: 90%;
        margin-left: 5%;
    }
    .divP p{
        margin-left: 5%;
    }
    .secImg{
        margin-left: 5%;
    }
    .secP{
        margin-right: 5%;
        margin-bottom: 30px;
    }
    .divImg img, .secImg img{
        width: 90%;
    }
    .divImg small, .secImg small{
        margin-left: 90px;
    }

    /*Editando o rodape*/
    .rodape{
        width: 100%;
        padding: 0;
    }
    .textRodape{
        width: 100%;
        margin-left: 0;
        display: grid;
        grid-template-areas: "logo logo logo"
                              "h3 h3 h3"  
                              "ul ul ul";
        justify-content: space-around;
    }

    .logoRodape img{
        margin-top: 20px;
    }
    .h3{
        margin-bottom: 30px;
    }
    #fim{
        margin-bottom: 20px;
    }
}