*{
    margin: 0%;
    padding: 0%;
}
#container{
    display: grid;
    min-width: 100%;
    min-height: 100vh;
    grid-template-areas: "cabeca cabeca cabeca"
                         "meio meio meio"
                         "fim fim fim"
                         "rodape rodape rodape";
}
.cabeca{
    grid-area: cabeca;
    height: 90px;
    font-family: 'Roboto', sans-serif;
}
.meio{
    grid-area: meio;
    font-family: 'Rubik', sans-serif;
}
.fim{
    grid-area: fim;
    font-family: 'Rubik', sans-serif;
    background-color: #020530;
}
.rodape{
    grid-area: rodape;
    font-family: 'Rubik', sans-serif;
}


/* Edição da Cabeca*/
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #020530;
    margin-top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 5px 10px #1c1c1c;
}
#logo{
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
    opacity: 0.9;
}
input, #menu_op{
    display: none ;
}
label{
    display: none;
    width: 100%;
}
ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.active{
    border-bottom: 4px solid #25d1fe;
    padding-bottom: 10px;
}
#menu ul .li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #25d1fe;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all .5s;
}
#menu ul .li:hover:after{
    width: 100%;
}

/*Editando o meio*/

.meio .inicio{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 80%;
    margin-left: 10%;
}

.meio .inicio h2{
    font-size: 35px;
    margin-bottom: 40px;
    border-bottom: 3px solid #993399;
}

.meio h2 span{
    color: #993399;
}

.meio .inicio .img img{
    margin-left: 5%;
    width: 700px;
}

.meio .inicio .img{
    margin-bottom: 50px;
}

.meio .inicio small{
    margin-left: 20px;
}

.meio p{
    margin-top: 10px;
    text-align: justify;
}

.meio p span{
    color: #993399;
    text-shadow: 0px 1px 10px #993399;
}

.meio p a{
    text-decoration: none;
    text-shadow: 0px 1px 10px #993399;
}

.meio .contatos{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 90px;
}

.contatos h2{
    font-size: 35px;
    margin-bottom: 30px;
    border-bottom: 3px solid #993399;
}

.contatos .interior{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: "texto img"
                          "texto img";
}

.interior .nome{
    grid-area: texto;
}

.nome h3{
    margin-bottom: 20px;
    margin-top: 35px;
}

.interior .imagem{
    grid-area: img;
}

.imagem img{
    width: 500px;
}

/*Editando o fim*/
.fim{
    width: 100%;
}
.fim .intro {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: "imagem form"
                         "imagem form";
    align-items: center;
    padding: 20px;
}
.mapa{
    grid-area: imagem;
}
.forms{
    grid-area: form;
}
.mapa img{
    width: 500px;
}
.forms input{
    display: block;
    width: 400px;
    padding: 10px;
    border: 2px solid #993399;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    outline: none;
}

.forms #text{
    height: 80px;
}

.forms h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.forms button{
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    border: transparent;
    margin-left: 40%;
    margin-bottom: 20px;
    background-color: #25d1fe;
    color: #020530;
    transition: all 0.3s;
}

.forms button:hover{
    background-color: #fff;
    border: 2px solid #25d1fe;
    box-shadow: 2px 2px 8px #25d1fe;
    color: #25d1fe;
}
.forms small{
    margin-top: 25px;
    margin-left: 30%;
    color: #fff;
}

/*Editando rodape*/

.rodape{
    width: 97.4%;
    background-color: #410d41;
    color: #fff;
    padding: 20px;
}

.textRodape{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: "logo ul h3"
                          "logo ul h3";
    justify-content: space-around;
}

.logoRodape{
    grid-area: logo;
}
.ul{
    grid-area: ul;
}
.h3{
    grid-area: h3;
}

.logoRodape img{
    height: 70px;
    margin-bottom: 30px;
}

.rodape .ul p{
    margin-bottom: 5px;
}

.rodape .ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.rodape .ul a:hover{
    color: #a5ddeb;
    text-shadow: 1px 1px 4px #fff;
}

#fim{
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 300px) and (max-width:880px){
    .titulo{
        height: 60px;
        display: flex;
    }
    #logo{
        height: 35px;
        margin-left: 80px;
    }
    input{
        visibility: hidden;
     }
     #menu_op{
         display: block;
     }
     label{
         display: block;
         margin-left: 40px;
     }
     label img{
        padding-left: 20px;
        width: 35px;
        float: right;
        margin-right: 50px;
    }
     nav{
         background-color: rgba(0,0,0,0.9);
         width: 80%;
         height: 220px;
         border-radius: 10px;
     }
     #menu_op:checked ~ #menu{
         margin-right: 0;
         transition: all 0.5s;
     }
     #menu{
         top: 85px;
         position: absolute;
         z-index: 99;
         right: 0;
         margin-right: -120%;
         box-shadow: 0px 5px 3px #1c1c11;
     }
     #menu ul li{
         display: flex;
         flex-direction: column;
         margin-top: 20px;
         height: 30px;
         text-align: center;
     }
     .explore{
        display: block;
    }
     #menu ul .explore::after{
        content: '';
        height: 50px;
        width: 0;
        background: #993399;
        opacity: 0.4;
        border-radius: 20px;
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: -111;
        transition: all .5s;
    }
    #menu ul .explore:hover:after{
        width: 80%;
        margin-left: 10%;
    }

    /*Editando o meio*/
    .meio .inicio .img img, .meio .contatos .imagem img{
        margin-left: 5%;
        width: 320px;
    }

    .meio .inicio, .meio .contatos{
        width: 90%;
        margin-left: 5%;
    }

    .imagem img{
        width: 250px;
    }

    .contatos .interior{
        width: 100%;
        margin-left: 0;
        display: grid;
        grid-template-areas: "img img"
                              "texto texto";
    }

    /*Editando o fim*/
    .forms input{
        display: block;
        visibility: visible;
        width: 325px;
        margin-left: 5%;
    }

    .forms button{
        margin-left: 35%;
    }

    .forms small{
        margin-left: 25%;
        margin-bottom: 20px;
    }

    .mapa img{
        width: 345px;
        margin-left: 5%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .fim .intro {
        width: 100%;
        margin-left: 0%;
        padding: 0%;
        display: grid;
        grid-template-areas: "form form"
                             "imagem imagem";
    }

    /*Editando o rodape*/
    .rodape{
        width: 100%;
        padding: 0;
    }
    .textRodape{
        width: 100%;
        margin-left: 0;
        display: grid;
        grid-template-areas: "logo logo logo"
                              "h3 h3 h3"  
                              "ul ul ul";
        justify-content: space-around;
    }

    .logoRodape img{
        margin-top: 20px;
    }
    .h3{
        margin-bottom: 30px;
    }
    #fim{
        margin-bottom: 20px;
    }
}