*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
#container{
    display: grid;
    min-width: 100%;
    min-height: 100vh;
    grid-template-areas: "cabeca cabeca cabeca"
                         "meio meio meio"
                         "rodape rodape rodape"
                         "fim fim fim";
}
.cabeca{
    grid-area: cabeca;
    height: 90px;
}


/* Edição da Cabeca*/
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 5px 10px #1c1c1c;
}
#logo{
    height: 180px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
    opacity: 0.9;
    border-radius: 20px;
}
input, #menu_op{
    display: none ;
}
label{
    display: none;
    width: 100%;
}
ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.active{
    border-bottom: 4px solid #25d1fe;
    padding-bottom: 10px;
}
#menu ul .li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #25d1fe;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all .5s;
}
#menu ul .li:hover:after{
    width: 100%;
}


@media (min-width: 300px) and (max-width:880px){
    #logo{
        height: 140px;
        margin-left: 0;
    }
    input{
        visibility: hidden;
     }
     #menu_op{
         display: block;
     }
     label{
         display: block;
         margin-left: 40px;
     }
     label img{
         padding-left: 20px;
         width: 40px;
     }
     nav{
         background-color: rgba(0,0,0,0.9);
         width: 80%;
         height: 220px;
         border-radius: 10px;
     }
     #menu_op:checked ~ #menu{
         margin-right: 0;
         transition: all 0.5s;
     }
     #menu{
         top: 85px;
         position: absolute;
         z-index: 99;
         right: 0;
         margin-right: -120%;
         box-shadow: 0px 5px 3px #1c1c11;
     }
     #menu ul li{
         display: flex;
         flex-direction: column;
         margin-top: 20px;
         height: 30px;
         text-align: center;
     }
     .explore{
        display: block;
    }
     #menu ul .explore::after{
        content: '';
        height: 50px;
        width: 0;
        background: #993399;
        opacity: 0.4;
        border-radius: 20px;
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: -111;
        transition: all .5s;
    }
    #menu ul .explore:hover:after{
        width: 80%;
        margin-left: 10%;
    }


/* Editando body*/
.cartoes {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cartoes .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.cartoes .card img {
    transition: 1s;
}

img{
    width: 120px;
}

.cartoes .card h1 {
    font-size: 2rem;
}

.cartoes .card .content {
    padding: 20px;
    text-align: center;
}

.cartoes .card .content p {
    color: #666;
    transition: 0.5s;
}

.cartoes .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.cartoes .card:hover {
    background-color: #0a2ea7;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #0000005d;
    border-color: #000000;
}

.cartoes .card:hover img {
    filter: invert(1);
}

.cartoes .card:hover .content p {
    color: white;
}

.cartoes .card:hover .content a{
    color:black;
    background-color: rgb(68, 208, 243);
}
}