*{
    margin: 0%;
    padding: 0%;
}
#container{
    display: grid;
    min-width: 100%;
    min-height: 100vh;
    grid-template-areas: "cabeca cabeca cabeca"
                         "meio meio meio"
                         "fim fim fim"
                         "rodape rodape rodape";
}
.cabeca{
    grid-area: cabeca;
    height: 90px;
    font-family: 'Roboto', sans-serif;
}
.meio{
    grid-area: meio;
    font-family: 'Rubik', sans-serif;
}
.fim{
    grid-area: fim;
    font-family: 'Rubik', sans-serif;
    background-color: #020530;
}
.rodape{
    grid-area: rodape;
    font-family: 'Rubik', sans-serif;
}


/* Edição da Cabeca*/

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 0px 5px 10px #1c1c1c;
}
#logo{
    height: 180px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
    opacity: 0.9;
    border-radius: 20px;
}
input, #menu_op{
    display: none ;
}
label{
    display: none;
    width: 100%;
}
ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.active{
    border-bottom: 4px solid #25d1fe;
    padding-bottom: 10px;
}
#menu ul .li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #25d1fe;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all .5s;
}
#menu ul .li:hover:after{
    width: 100%;
}




 /*Edição meio*/

.meio{
    display: flex;
}

.wrapper{
    margin: 0;
    padding: 4%;
    font-family: 'Roboto', sans-serif;
}
.wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}
.meio .inicio h2{
    font-size: 35px;
    margin-bottom: 40px;
    border-bottom: 3px solid #993399;
}
h2{
    font-size: 35px;
    margin-bottom: 40px;
    border-bottom: 3px solid #993399;
}
.meio h2 span{
    color: #993399;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__text {
    width: 50%;
}
.main__text h1{
    font-size: 4em;
}

.main__text .main__text-main{
    display: flex;
    margin-top: 80px;
}
main .main__img{
    width: 600px;
}

.meio .inicio{
    margin-top: 50px;
    margin-bottom: 90px;
    width: 80%;
    margin-left: 10%;
}

.meio .inicio h2{
    font-size: 35px;
    margin-bottom: 40px;
    border-bottom: 3px solid #993399;
}

.meio h2 span{
    color: #993399;
}

.meio p span{
    color: #993399;
    text-shadow: 0px 1px 10px #993399;
}

.meio p a{
    text-decoration: none;
    text-shadow: 0px 1px 10px #993399;
}

.tabela{
    display: flex;
    margin-bottom: 80px;
}

th{
    color: #993399;
}

h1{
    color: #993399;
 
    margin-top: 80px;
    }
    a{
        text-decoration: none;
    }
    table, th, td {
    border: 0px solid black;
    }
    
    table {
    border-collapse: collapse;
    margin: auto;
    }
    
    th, td{
    padding: 10px;
    text-align: center;
    width: 120px;
    }
    
    th{
    font-weight: bold;
    }
    
    
    tr:nth-child(even) {
    background-color: #e5d4e9;
    }
    
    tr:hover:nth-child(1n + 2) {
    background-color: #b3c6c7;
    color: #fff;
    }
    
    button{
        padding: 10px 20px;
        font-size: 11px;
        background-color: #7d0c8b;
        border: none;
        outline: none;
        border-radius: 1px;
        cursor: pointer;
        color: rgb(252, 252, 252);
    }

/*Editando rodape*/

.rodape{
    width: 100%;
    background-color: #410d41;
    color: #fff;
    padding: 20px;
}

.textRodape{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-areas: "logo ul h3"
                          "logo ul h3";
    justify-content: space-around;
}

.logoRodape{
    grid-area: logo;
}
.ul{
    grid-area: ul;
}
.h3{
    grid-area: h3;
}

.logoRodape img{
    height: 70px;
    margin-bottom: 30px;
}

.rodape .ul p{
    margin-bottom: 5px;
}

.rodape .ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.rodape .ul a:hover{
    color: #a5ddeb;
    text-shadow: 1px 1px 4px #fff;
}

#fim{
    text-align: center;
    margin-top: 20px;
}

        
